{
	"env": {
		"node": true,
		"es6": true,
		"jest": true
	},
	"extends": "koa",
	"parser": "babel-eslint",
	"rules": {
		"no-console": "off",
		"indent": [
			"error",
			"tab"
		],
		"no-tabs": "off",
		"space-before-function-paren": "off"
	}
}